#difficulty,
#number-questions {
  border: 1px solid transparent;
  cursor: pointer;
  width: 60%;
  color: white;
  background-color: rgba(150, 193, 216, 0.532);
  border-radius: 10px;
  padding: 0.2vh;
  text-align: center;
  font-size: 20px;
}

.submit-btn {
  cursor: pointer;
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #24b2c5e5;
  box-shadow: 0 0 2px #fff, 0 0 25px rgb(0, 0, 255), 0 0 5px #fff;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
  max-width: 80%;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: transparent;
  text-shadow: 1px 0 2px rgb(0, 0, 255), 0 0 25px rgb(0, 0, 255),
    0 0 5px rgb(0, 0, 255);
}

.btn-category {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #22def79a;
  box-shadow: 0 0 2px #fff, 0 0 25px rgb(0, 0, 255), 0 0 5px #fff;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
}

.clicked {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #1e0e1c;
  box-shadow: 0 0 2px #fff, 0 0 25px rgb(0, 0, 255), 0 0 5px #fff;
  text-transform: uppercase;
  font-family: "Press Start 2P", cursive;
}

@media screen and (max-width: 600px) {
  .btn-category {
    margin-top: 20px;
    border-radius: px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 10px;
    background-color: #22def796;
    box-shadow: 0 0 2px #fff, 0 0 25px rgb(0, 0, 255), 0 0 5px #fff;
    text-transform: uppercase;
    font-family: "Press Start 2P", cursive;
  }

  .clicked {
    margin-top: 20px;
    border-radius: px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 10px;
    background-color: #1e0e1c;
    box-shadow: 0 0 2px #fff, 0 0 25px #921d82, 0 0 5px #fff;
    text-transform: uppercase;
    font-family: "Press Start 2P", cursive;
  }
}

.img-btn {
  display: block;
  width: 100px;
}

.img-submit {
  margin-left: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
  column-gap: 20px;
  row-gap: 15px;
  margin-bottom: 50px;
}

p {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
