/************************************************************************** default customs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
}

/************************************************************************** title */
#multiPlayerLoginTitle {
  font-family: 'Press Start 2P', sans-serif;
  padding: 1rem;
  box-shadow: 1px 0 2px #fff, 0 0 25px rgb(0 0 255), 0 0 5px #fff;
  text-shadow: 1px 0 2px #fff, 0 0 25px rgb(0 0 255), 0 0 5px #fff;
  font-size: 2rem;
  margin-top: -1rem;
  line-height: 1.4;
}

@media (min-width: 576px) {
}

/************************************************************************** form */
#multiPlayerFormContainer {
  margin-top: 1.5rem;
}

#multiPlayerFormContainer label {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}

#multiPlayerFormContainer input::placeholder {
  color: rgba(255, 255, 255, 0.633);
}

#multiPlayerFormContainer input[type='text'],
#multiPlayerFormContainer input[type='number'] {
  border: 0.5rem solid transparent;
  width: 100%;
  color: white;
  background-color: rgba(150, 193, 216, 0.532);
  border-radius: 0.5rem;
  padding: 0.2rem;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

#multiPlayerFormContainer input[type='text']:focus,
#multiPlayerFormContainer input[type='text']:hover,
#multiPlayerFormContainer input[type='number']:focus,
#multiPlayerFormContainer input[type='number']:hover {
  outline: 0.2rem solid #f0f8ff;
}

#multiPlayerFormContainer p {
  color: red;
  font-size: 1.5rem;
  font-weight: 900;
}

#multiPlayerFormContainer button {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1.2rem;
  margin: 0 auto;
  width: 13rem;
  box-shadow: 0 0 2px #fff, 0 0 25px rgb(0 0 255), 0 0 5px #fff;
  background-color: #22def7bb;
  border-radius: 1.25rem;
  border: 0.063rem solid transparent;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
}

#multiPlayerFormContainer button:hover {
  background-color: #22def784;
  /* background-color: transparent; */
}

/************************************************************************** navigate next */
#thankYouMessage {
  color: #fff;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: 900;
}
